<p id="notice"><%= notice %></p>

<p>
  <strong>Layout:</strong>
  <%= @card.layout %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Manacost:</strong>
  <%= @card.manaCost %>
</p>

<p>
  <strong>Cmc:</strong>
  <%= @card.cmc %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @card.colors %>
</p>

<p>
  <strong>Supertypes:</strong>
  <%= @card.supertypes %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Types:</strong>
  <%= @card.types %>
</p>

<p>
  <strong>Subtypes:</strong>
  <%= @card.subtypes %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Power:</strong>
  <%= @card.power %>
</p>

<p>
  <strong>Toughness:</strong>
  <%= @card.toughness %>
</p>
<p>
  <strong>Loyalty:</strong>
  <%= @card.loyalty %>
</p>
<p>
  <strong>Life:</strong>
  <%= @card.life %>
</p>

<p>
  <strong>Hand:</strong>
  <%= @card.hand %>
</p>

<p>
  <strong>Imagename:</strong>
  <%= @card.imageName %>
</p>

<p>
  <strong>Rulings:</strong>
  <%= @card.rulings %>
</p>

<p>
  <strong>Printings:</strong>
  <%= @card.printings %>
</p>

<p>
  <strong>Legalities:</strong>
  <%= @card.legalities %>
</p>

<p>
  <strong>Coloridentity:</strong>
  <%= @card.colorIdentity %>
</p>

<p>
  <strong>Source:</strong>
  <%= @card.source %>
</p>

<p>
  <strong>Starter:</strong>
  <%= @card.starter %>
</p>

<%= link_to 'Back', cards_path %>
